$width: 220px;
$trans-time: 300ms;
$primary-color: #334480;

.login-ag {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  .form-wrapper {
    display: flex;
    flex-direction: column;
    margin: auto 0;

    img {
      margin: 0 auto;
    }
    .login-form {
      .group,
      button {
        position: relative;
        margin: 0;
        margin-top: 50px;
        margin-left: 5%;
      }
      button {
        padding: 12px;
        border-radius: 0;
        border: $primary-color 2px solid;
        font-weight: 600;
        outline: none;
      }
      input,
      button {
        width: $width;
        @media only screen and (max-width: #{768px}) {
          width: 100%;
        }
      }
      input[type='password'],
      input[type='text'] {
        background: none;
        color: #505050;
        font-size: 22px;
        padding: 10px 10px 10px 5px;
        display: block;
        border: none;
        border-radius: 0;
        border-bottom: 2px solid $primary-color;
        &:focus {
          outline: none;
        }
        &:focus ~ label,
        &:valid ~ label {
          top: -14px;
          font-size: 12px;
          color: $primary-color;
        }
        &:focus ~ .bar:before {
          width: $width;
        }
      }

      input[type='password'] {
        letter-spacing: 0.3em;
      }

      label {
        color: #334480;
        font-size: 18px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: $trans-time ease all;
      }
    }
  }
}
